/* NAVBAR STYLING STARTS */

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: teal;
  color: #fff;
}

/* LOGO */

.logo {
  font-size: 32px;
}

/* NAVBAR MENU */

.links {
  display: flex;
  gap: 1em;
  font-size: 18px;
}

.links li {
  padding: 5px 14px;
}
